<!DOCTYPE html>
<html lang="en">

<head>
    <title>Caerdroia Bot</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h2 style="text-align: center;">
        <span style="color: #ffffff;"><strong>Code for Pendulum doodle created by
                <span style="color: #0000ff;"><a style="color: #0000ff;" href="https://glitch.com/@rowan-m?utm_source=button&amp;utm_medium=button&amp;utm_campaign=glitchButton&amp;utm_contnet=swanky-bridge">Rowan M</a></span></strong></span>
    </h2>
    <p class="bottom" style="text-align: center;">
    </p>
    <main>
        <div class="rod pendulum1">
            <div class="bob"></div>
        </div>
        <div class="rod pendulum2">
            <div class="bob"></div>
        </div>
        <div class="rod pendulum3">
            <div class="bob"></div>
        </div>
        <div class="rod pendulum4">
            <div class="bob"></div>
        </div>
        <div class="rod pendulum5">
            <div class="bob"></div>
        </div>
        <div class="rod pendulum6">
            <div class="bob"></div>
        </div>
        <div class="rod pendulum7">
            <div class="bob"></div>
        </div>
    </main>
    <iframe src="https://ptb.discordapp.com/widget?id=703470275865608253&theme=dark" width="350" height="400" allowtransparency="true" frameborder="0"></iframe>

    <footer>
        <form id="Form">
            <label>
                <h2 id="form-text" style="text-align: center;">
                    Tell me issues or suggestions!
                </h2>
                <textarea name="submission" maxlength="500" required placeholder="Issues or Suggestions!"></textarea>
            </label>
            <button type="submit" id="submit-suggestion">Submit</button>

            <script src="/suggestions.js"></script>
        </form>
    </footer>
</body>

</html>